extends ../layout

block content
	h1= title
	p Please log in to your account
	p redirect is #{redirect}
		.container.login-container
			form#login-form.form-signin.col-lg-12.login-form(action="/login", method="post")
				h2.form-signin-heading Please sign in
				input.input-block-level.col-lg-12.form-row.form-field(type="text", name="email", placeholder="Email address", autocomplete="email")
				input.input-block-level.col-lg-12.form-row.form-field(type="password", name="password", placeholder="Password", autocomplete="current-password")
				label.checkbox.col-lg-12.
					<input type="checkbox" value="remember-me" /> #[span.checkbox-text Remember me]
				input.input-block-level(type="hidden", name="redirect", value='#{redirect}')
				if (errors)
					.error-container.col-lg-12
						each error in errors
							.error-row.col-lg-12 #{error.msg}
				button.btn.btn-large.btn-primary.col-lg-12.submit#login-submit(type="submit") Sign in
				div.col-lg-12.login-register-link Not registered? #[a(href="/sign-up") Register now]
