extends ../layout

block content
    h1= title
    p Are you sure you want to delete this? This process cannot be reversed.
    a.btn.btn-danger.delete.event-btn(href="/events/delete/#{event._id}/confirm") #[i.fa.fa-check] Yes
    a.btn.btn-outline-danger.edit.event-btn(href="/events/view/#{event._id}") #[i.fa.fa-times] No